<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YTPPlusPlus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <YTPPlusPlus.Properties.Settings>
            <setting name="VLC" serializeAs="String">
                <value>C:/Program Files (x86)/VideoLAN/VLC</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="effect_RandomSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="effect_RandomSoundMute" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="effect_Reverse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="effect_SpeedUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="effect_SlowDown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="effect_Chorus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="effect_Vibrato" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="effect_HighPitch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="effect_LowPitch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="effect_Dance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="effect_Squidward" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PluginTest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InsertTransitions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InsertIntro" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InsertOutro" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Clips" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="MinStreamDur" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="MaxStreamDur" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="Intro" serializeAs="String">
                <value>resources\intro.mp4</value>
            </setting>
            <setting name="Outro" serializeAs="String">
                <value>resources\outro.mp4</value>
            </setting>
            <setting name="FFmpeg" serializeAs="String">
                <value>ffmpeg.exe</value>
            </setting>
            <setting name="FFprobe" serializeAs="String">
                <value>ffprobe.exe</value>
            </setting>
            <setting name="Magick" serializeAs="String">
                <value>magick</value>
            </setting>
            <setting name="Sources" serializeAs="String">
                <value>sources\</value>
            </setting>
            <setting name="Temp" serializeAs="String">
                <value>temp\</value>
            </setting>
            <setting name="Sounds" serializeAs="String">
                <value>sounds\</value>
            </setting>
            <setting name="Music" serializeAs="String">
                <value>music\</value>
            </setting>
            <setting name="Resources" serializeAs="String">
                <value>resources\</value>
            </setting>
            <setting name="TransitionDir" serializeAs="String">
                <value>sources\</value>
            </setting>
        </YTPPlusPlus.Properties.Settings>
    </userSettings>
</configuration>